{% extends 'base.html.twig' %}

{% block title %}New Ct404Category{% endblock %}

{% block body %}
    <h1>Create new Ct404Category</h1>

    {{ include('ct404_category/_form.html.twig') }}

    <a href="{{ path('ct404_category_index') }}">back to list</a>
{% endblock %}
