{% extends 'base.html.twig' %}

{% block title %}Edit Ct404commercial{% endblock %}

{% block body %}
    <h1>Edit Ct404commercial</h1>

    {{ include('ct404commercial/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404commercial_index') }}">back to list</a>

    {{ include('ct404commercial/_delete_form.html.twig') }}
{% endblock %}
