{% extends 'base.html.twig' %}

{% block title 'Problème de mémoire' %}

{% block h1 'Mot de passe Oublié' %}

{% block body %}
<main class="container section">
    <section class="white section">
        {% for message in app.flashes('success') %}
            <section class="red row center-align">
                <strong class="col s12 center-align white-text">{{ message }}</strong>
            </section>
        {% endfor %}
        <h2 class="center-align flow-text">Vous devez renseignez l'email de votre inscription</h2>
        <article class="center-align">
            <p>Un email de vérification vous sera envoyé</p>
        </article>
        <form method="post">
            <section class="row">
                <div class="col s10 offset-s1">
                    <label for="email_input">Email</label>
                    <input id="email_input" type="email" name="forgot_pwd">
                </div>
            </section>
            <div class="center-align">
                <button name="send_forgot_mail" type="submit" class="btn">M'envoyer un email</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}