{% extends 'base.html.twig' %}

{% block title %}New Ct404Supplier{% endblock %}

{% block body %}
    <h1>Create new Ct404Supplier</h1>

    {{ include('ct404_supplier/_form.html.twig') }}

    <a href="{{ path('ct404_supplier_index') }}">back to list</a>
{% endblock %}
