{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "stylelint-a11y/recommended",
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "indentation": 4,
    "no-descending-specificity": null,
    "value-list-comma-newline-after": null
  }
}