{% extends 'base.html.twig' %}

{% block title %}Edit Ct404Commercial{% endblock %}

{% block body %}
    <h1>Edit Ct404Commercial</h1>

    {{ include('ct404_commercial/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404_commercial_index') }}">back to list</a>

    {{ include('ct404_commercial/_delete_form.html.twig') }}
{% endblock %}
