{% extends 'base.html.twig' %}

{% block title %}Edit Ct404Product{% endblock %}

{% block body %}
    <h1>Edit Ct404Product</h1>

    {{ include('ct404_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404_product_index') }}">back to list</a>

    {{ include('ct404_product/_delete_form.html.twig') }}
{% endblock %}
