@font-face
{
    font-family: 'HarryPotter';
    src: url('fonts/HARRYP.TTF') format('truetype');
}

html{
    margin:0;
    padding:0;
    background: url(../images/background_street.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
    font-family: HarryPotter, sans-serif;
    font-size: 12vw;
    /* If the webkit is not ok */
    color:	#ffd700;

    text-shadow: 0px 0px 1px grey,
        1px 1px 2px #cba100,
        2px 2px 3px #8e7100,
        3px 3px 3px #675200,
        4px 4px 4px #4b3900,
        5px 5px 2px #3d2d00,
        6px 6px 4px #290e00,
        7px 7px 1px #210d00,
        8px 8px rgba(255, 215, 0, 0.24);

}



.fix-nav{
    margin-bottom: auto !important;
}


#copy-cont{
   max-height: 15px;
    color: #718C00;
}