{% extends 'base.html.twig' %}

{% block title 'Nouveau Mot de passe' %}

{% block h1 'Modifier le mot de passe' %}

{% block body %}
    <main class="container section">
        {#  TODO : Du front...   #}
        <section class="white section">
            {{ form_start(form) }}

                {{ form_widget(form) }}

                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 center-align">
                    <button class="btn" type="submit">Modifier</button>
                </div>

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}