{% extends 'base.html.twig' %}

{% block title %}New Ct404Role{% endblock %}

{% block body %}
    <h1>Create new Ct404Role</h1>

    {{ include('ct404_role/_form.html.twig') }}

    <a href="{{ path('ct404_role_index') }}">back to list</a>
{% endblock %}
