{% extends 'base.html.twig' %}

{% block title %}Edit Ct404Professional{% endblock %}

{% block body %}
    <h1>Edit Ct404Professional</h1>

    {{ include('ct404_professional/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404_professional_index') }}">back to list</a>

    {{ include('ct404_professional/_delete_form.html.twig') }}
{% endblock %}
