/* CSS FOR THE BASE TWIG AND THE INDEX */

/* HTML TAGS */
html {
    background: url(../images/background_street.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-size: 200% !important;
    font-family: 'Henny Penny', sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
    nav > a {
        transition: none;
    }
}

nav > a {
    transition: 0.5s;
}

nav > a:hover,
nav > a:focus {
    transform: scale(1.1);
}

footer {
    margin-top: 1%;
}

/* Change checkbox color */
[type="checkbox"] + span:not(.lever)::before,
[type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
    border: 2px solid black !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-top: inherit !important;
    border-left: inherit !important;
}

/* --------------------------------------------------------------------------------- */

/* BASE */
#pageTitle {
    /* Because we have a fixed-(double) navbar */
    margin-top: 200px;
    margin-bottom: 100px;
    color: #ffd700;
    font-size: 12vw !important;
    font-family: 'Henny Penny', sans-serif;
    text-shadow:
        0 0 1px grey,
        1px 1px 2px #cba100,
        2px 2px 3px #8e7100,
        3px 3px 3px #675200,
        4px 4px 4px #4b3900,
        5px 5px 2px #3d2d00,
        6px 6px 4px #290e00,
        7px 7px 1px #210d00,
        8px 8px rgba(255, 215, 0, 0.24);
}

.mb-auto {
    margin-bottom: auto !important;
}

.mt-auto {
    margin-top: 22px !important;
}

#divCopyright {
    max-height: 15px;
}

#divHeader {
    position: fixed;
    top: 0;
    z-index: 1 !important;
    width: 100%;
    opacity: 1;
}

/* ------------------------------------------------------------------------------- */

/* INDEX */

.indexHouses {
    display: flex;
    justify-content: space-around;
    height: 14%;
    font-family: 'Henny Penny', sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
    .indexHousesInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 19%;
        border-radius: 10px;
        transition: none;
    }
}

.indexHousesInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19%;
    border-radius: 10px;
    transition: 0.5s;
}

#indexHousesGryffondor {
    background-image: url("https://static.warnerbros.fr/static/version1585654557/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/gryffondor-2.webp");
}

#indexHousesGryffondor:hover,
#indexHousesGryffondor:focus {
    transform: scale(1.1);
}

#indexHousesSerdaigle {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/serdaigle-2.webp");
}

#indexHousesSerdaigle:hover,
#indexHousesSerdaigle:focus {
    transform: scale(1.1);
}

#indexHousesPoufsouffle {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/poufsouffle-2.webp");
}

#indexHousesPoufsouffle:hover,
#indexHousesPoufsouffle:focus {
    transform: scale(1.1);
}

#indexHousesSerpentard {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/serpentard-2.webp");
}

#indexHousesSerpentard:hover,
#indexHousesSerpentard:focus {
    transform: scale(1.1);
}

#indexHousesPoudlard {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/poudlard-2.webp");
}

#indexHousesPoudlard:hover,
#indexHousesPoudlard:focus {
    transform: scale(1.1);
}

@media screen and (prefers-reduced-motion: reduce) {
    .indexChopsticks {
        display: flex;
        height: 19%;
        padding: 2%;
        font-family: 'Henny Penny', sans-serif;
        background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander-2.webp");
        border-radius: 10px;
        transition: none;
    }
}

.indexChopsticks {
    display: flex;
    height: 19%;
    padding: 2%;
    font-family: 'Henny Penny', sans-serif;
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander-2.webp");
    border-radius: 10px;
    transition: 0.5s;
}

.indexChopsticks:hover,
.indexChopsticks:focus {
    padding: 0;
}

.indexChopsticksText {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.indexChopsticksImg > img {
    border-radius: 10px;
}

/*
    TODO : lire ça
    Il faut absolument plus utiliser materialize surtout si ce que tu fais est disponible
    - pas de color: white alors que tu as white-text
    - pas de gestion de la responsivité des images puisque tu as la classe responsive-img
    - pas de text-align: center tu as la classe center-align
    - pas de width 70 % alors que tu as classe container
    - la majorité de tes magin auto ne servent à rien avec materialize
    - etc...

    Il faut plus utiliser le principe d'id et de class parce que là, tu faisais la même chose pour les 5 classes des maisons :
    - J'ai passé les classe en id et je leur ai mit une classe pour ce qui était commune et juste sur ça, j'ai enlevé 30 lignes de css inutile

    Ca sert absolument à rien de mettre un width: 100%, j'en ai retiré au moins 10
    Surtout, sur la navbar, tu peux pas mettre width: 100% alors que materialize gere automatiquement toute ta navbar juste avec les balises !

    Un fichier css comme il était avant, c'est pas possible !!!!
    J'ai retiré 100 lignes de code INUTILE, sans rien changé au visuel en m'arrêtant aux baguettes, c'est pas du boulot ça !

    Les media query c'est pas de la 'bidouille', le but c'est pas de régler les problemes d'un css hasardeux
    J'ai retiré tout ce fameux code qui me semblait inutile et en commantant les media tout était responsif !

    Il y a des balises en trop dans le html

    ON NE FAIT PAS UN LIEN AVEC BOUTON QUI PREND DU JS INTRUSIF !

    Les pages de produits sont nulles (C'ETAIT SA PAGE DE TEST)
    DE de 5 COPIER/COLLER de 10 lignes de html, 30 lignes de css inutiles, pas une interaction avec la DB

    En plus tu mets 5 copié collé qui se repère avec une chaine de caractere que tu injectes différemment dans 5 fonctions dans un controller
    provisoir, tu connais pas la method get ?!
    Tout ça pour pouvoir afficher 4 images différentes

    + 10 lignes de html dans une boucle for laissé par Arnaud mais que tu n'arrives pas a faire marcher parce que tu ne nommes même pas correctement la fonction et tu n'injectes pas la bon type !
    On a des tables sous catégories, des tables categories, t'avais juste à faire un dump pour voir que findByCategorie te renvoie tout ce dont tu as besoin !
    Non toi, tu injectes une chaine de caractere... Encore fallait-il le nommer
    Même le bouton pour ajouter au panier qu'avait laissé Arnaud t'as pas été fichu de le garder !


    Une maquette à débuguer en somme.
    J'ai passé plus de temps à la corriger que si je l'avais utilisé comme maquette

    Tu utilises la fonction que j'ai créée dans ton controller mais tu ne lui donne même pas le bon nom !!

    Le js, c'est n'importe quoi !! Comment on peut imaginer qu'on va gérer ça comme ça ?!

    Franchement JAMAIS je ne présente ça à mon oral du titre, c'est du foutage de gueule, 1 semaine pour faire ça ?!

    C'est nul, il n'y a aucun investissement !!
    Il y a 12000 templates de crés, qui récupèrent les infos et tu n'es pas fichu d'en prendre un !

    J;aurais mit moins de temps à le faire qu'à le débuguer

    Julien fait pleins d'outils pour rendre le truc accessible et de ce que je vois, j'ai pas l'impression que tu codes sur le projet
    Tu fais des templates sur atom et tu nous fous ça dans le projet ou quoi ?!

    je retire des :
    display: flex;
    flex-direction: column;
    min-height: 850px;
    margin-right: auto;
    margin-left: auto;
    TOUT CA SUR UNE SEULE CLASSE SANS QUE CA NE CHANGE RIEN AU VISUEL !
    Et j'en ai retiré 1000 des comme ça !
    sans rien changer au visuel, tu importes meme pas materialize ou quoi ?

    Tu as 40 scale 1.1, tu peux pas faire une classe scale10

 */
