/* CSS FOR THE BASE TWIG AND THE INDEX */

/* HTML TAGS */
html {
    background: url(../images/background_street.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-size: 200% !important;
    font-family: 'Henny Penny', sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
    nav > a {
        transition: none;
    }
}

nav > a {
    transition: 0.5s;
}

nav > a:hover,
nav > a:focus {
    transform: scale(1.1);
}

footer {
    margin-top: 1%;
}

/* Change checkbox color */
[type="checkbox"] + span:not(.lever)::before,
[type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
    border: 2px solid black !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-top: inherit !important;
    border-left: inherit !important;
}

/* --------------------------------------------------------------------------------- */

/* BASE */
#pageTitle {
    /* Because we have a fixed-(double) navbar */
    margin-top: 200px;
    margin-bottom: 100px;
    color: #ffd700;
    font-size: 12vw !important;
    font-family: 'Henny Penny', sans-serif;
    text-shadow:
        0 0 1px grey,
        1px 1px 2px #cba100,
        2px 2px 3px #8e7100,
        3px 3px 3px #675200,
        4px 4px 4px #4b3900,
        5px 5px 2px #3d2d00,
        6px 6px 4px #290e00,
        7px 7px 1px #210d00,
        8px 8px rgba(255, 215, 0, 0.24);
}

.mb-auto {
    margin-bottom: auto !important;
}

.mt-auto {
    margin-top: 22px !important;
}

#divCopyright {
    max-height: 15px;
}

#divHeader {
    position: fixed;
    top: 0;
    z-index: 1 !important;
    width: 100%;
    opacity: 1;
}

/* ------------------------------------------------------------------------------- */

/* INDEX */

.indexHouses {
    display: flex;
    justify-content: space-around;
    height: 14%;
    font-family: 'Henny Penny', sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
    .indexHousesInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 19%;
        border-radius: 10px;
        transition: none;
    }
}

.indexHousesInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19%;
    border-radius: 10px;
}

.indexHousesInner:hover,
.indexHousesInner:focus{
  transform: scale(1.1);
}

#indexHousesGryffondor {
    background-image: url("https://static.warnerbros.fr/static/version1585654557/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/gryffondor-2.webp");
}

#indexHousesSerdaigle {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/serdaigle-2.webp");
}

#indexHousesPoufsouffle {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/poufsouffle-2.webp");
}

#indexHousesSerpentard {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/serpentard-2.webp");
}

#indexHousesPoudlard {
    background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/poudlard-2.webp");
}

.indexCategory{
  background-image: url("https://static.warnerbros.fr/static/version1585662335/frontend/Warner/wizardingworld/fr_FR/images/fanstore/wizardingworld/home/baguettes-ollivander-2.webp");
  border-radius: 10px;
}

.indexCategoryText>a{
  padding: 2%;
  border-radius: 10px;
}
