/* LOGIN */

#divLogin {
    border-radius: 10px;
}

/* Left part of page (top on small) */
#loginRegistration {
    min-height: 500px;
    background: url("https://cdn.pixabay.com/photo/2019/03/22/18/12/harry-potter-4073863_960_720.png") center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (prefers-reduced-motion: reduce) {
    #divButtonsRegister > a {
        padding: 2%;
        font-size: 125%;
        background-color: #35a699;
        border-radius: 10px;
        filter: grayscale(75%);
        transition: none;
    }
}

#divButtonsRegister > a {
    padding: 2%;
    font-size: 125%;
    background-color: #35a699;
    border-radius: 10px;
    filter: grayscale(75%);
    transition: 0.5s;
}

#divButtonsRegister > a:hover,
#divButtonsRegister > a:focus {
    filter: grayscale(0%);
}

#loginConnection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
}

#loginConnection > p {
    font-size: 150%;
}

@media screen and (prefers-reduced-motion: reduce) {
    #loginConnection > input {
        width: 75% !important;
        transition: none !important;
    }
}

#loginConnection > input {
    width: 75% !important;
    transition: 0.5s !important;
}

#loginConnection > input:hover {
    width: 80% !important;
}

#loginConnection > input:focus {
    width: 80% !important;
}

#loginConnection > a:hover,
#loginConnection > a:focus {
    text-decoration: underline;
}

@media screen and (prefers-reduced-motion: reduce) {
    #loginConnection > input[type="submit"] {
        padding: 2%;
        font-size: 125%;
        background-color: #35a699;
        border-radius: 10px;
        filter: grayscale(75%);
        transition: none;
    }
}

#loginConnection > input[type="submit"] {
    padding: 2%;
    font-size: 125%;
    background-color: #35a699;
    border-radius: 10px;
    filter: grayscale(75%);
    transition: 0.5s;
}

#loginConnection > input[type="submit"]:hover,
#loginConnection > input[type="submit"]:focus {
    filter: grayscale(0%);
}