/* LOGIN */

.login {
    display: flex;
    width: 50%;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
}

.loginRegistration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    color: white;
    text-align: center;
    background: url("https://cdn.pixabay.com/photo/2019/03/22/18/12/harry-potter-4073863_960_720.png") center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (prefers-reduced-motion: reduce) {
    .loginRegistration > button {
        padding: 2%;
        color: white;
        font-size: 125%;
        background-color: #35a699;
        border-radius: 10px;
        filter: grayscale(75%);
        transition: none;
    }
}

.loginRegistration > button {
    padding: 2%;
    color: white;
    font-size: 125%;
    background-color: #35a699;
    border-radius: 10px;
    filter: grayscale(75%);
    transition: 0.5s;
}

.loginRegistration > button:hover,
.loginRegistration > button:focus {
    filter: grayscale(0%);
}

.loginConnection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    text-align: center;
}

.loginConnection > p {
    font-size: 150%;
}

.loginError {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    .loginConnection > input {
        width: 75% !important;
        transition: none !important;
    }
}

.loginConnection > input {
    width: 75% !important;
    transition: 0.5s !important;
}

.loginConnection > input:hover {
    width: 80% !important;
}

.loginConnection > input:focus {
    width: 80% !important;
}

.loginConnection > a:hover,
.loginConnection > a:focus {
    text-decoration: underline;
}

@media screen and (prefers-reduced-motion: reduce) {
    .loginConnection > input[type="submit"] {
        padding: 2%;
        color: white;
        font-size: 125%;
        background-color: #35a699;
        border-radius: 10px;
        filter: grayscale(75%);
        transition: none;
    }
}

.loginConnection > input[type="submit"] {
    padding: 2%;
    color: white;
    font-size: 125%;
    background-color: #35a699;
    border-radius: 10px;
    filter: grayscale(75%);
    transition: 0.5s;
}

.loginConnection > input[type="submit"]:hover,
.loginConnection > input[type="submit"]:focus {
    filter: grayscale(0%);
}

.loginConnection > span {
    color: #cdcdcd;
}
