/* PORTABLE PC VERSION */

@media screen and (max-width: 1440px) {
    /* INDEX */

  /* PRODUCT */

  .product{
    width: 99%;
  }
}

/* MOBILE VERSION */
    .index {
        width: 100%;
    }

    /* LOGIN */

  /* BASE */

  nav{
    font-size: 100%;
  }

  #pageTitle{
    margin-bottom: 50px;
    font-size: 400%;
  }
    .login {
        width: 75%;
    }

    /* .index {
        width: 99%;
    } */
}

/* MOBILE VERSION */

  .index>div{
    margin-bottom: 2%;
  }
@media screen and (max-width: 992px) {
    /* BASE */

    nav {
        font-size: 100%;
    }

    #pageTitle {
        font-size: 400%;
    }

    /* INDEX */

    .index {
        width: 95%;
        height: 100%;
    }

    .index > article {
        margin-bottom: 2%;
    }

    .indexMessage > h2 {
        font-size: 200%;
    }

    .indexMessage > p {
        font-size: 100%;
    }

    .indexHousesGryffondor > h3 {
        display: none;
    }

    .indexHousesGryffondor > img {
        width: 100%;
    }

    .indexHousesSerdaigle > h3 {
        display: none;
    }

    .indexHousesSerdaigle > img {
        width: 100%;
    }

    .indexHousesPoufsouffle > h3 {
        display: none;
    }

    .indexHousesPoufsouffle > img {
        width: 100%;
    }

    .indexHousesSerpentard > h3 {
        display: none;
    }

    .indexHousesSerpentard > img {
        width: 100%;
    }

    .indexHousesPoudlard > h3 {
        display: none;
    }

    .indexHousesPoudlard > img {
        width: 100%;
    }

  /* LOGIN */
    .indexChopsticks {
        flex-direction: column-reverse;
    }

    .indexChopsticksImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .indexChopsticksImg > img {
        width: 50%;
    }

    .indexChopsticksText {
        width: 100%;
    }

    /* LOGIN */

    .login {
        flex-direction: column;
        width: 95%;
    }

    .loginRegistration {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

  /* PRODUCT */

  .product{
    width: 95%;
  }

  .productMessage>p{
    font-size: 100%;
  }

  .productTitleText{
    width: 100%;
  }

  .productTitleText>h2{
    font-size: 250%;
  }

  .productTitleImg{
    display: none;
  }

  .productContent{
    grid-template-columns: 90%;
  }

    .loginConnection {
        width: 100%;
    }
}
