/* REGISTER FORM */

#divFormRegister{
    border-radius: 10px;
}

#divLetter{
    background-image: url("../images/register/hogwart_paper.jpg");
    background-size: cover;
    border-radius: 5px;
    font-family: 'Dancing Script', fantasy;
    font-size: 18px;
}

#agreeTerme{
    font-family: serif;
}

#houseAccept{
    text-decoration: inherit;
}