/* TO CENTER YOUR CONTENT */
.styleDisplayCenterBloc, .styleDisplayCenterText{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TO CENTER YOUR TEXT */
.styleDisplayCenterText{
  flex-direction: column;
}

/* TO HAVE ROUNDED EDGES */
.styleBorderRadius{
  border-radius: 10px;
}

.styleHr, .styleHrBloc, .styleHrText{
  background-color: black;
}

/* TO HAVE THICK HR IN BLACK */
.styleHr{
  height: 2px;
}

/* TO HAVE THICK HR IN BLACK FOR styleDisplayCenterBloc */
.styleHrBloc{
  width: 2px;
  height: 90%;
}

/* TO HAVE THICK HR IN BLACK FOR styleDisplayCenterText */
.styleHrText{
  width: 90%;
  height: 2px;
}
