<form method="post" action="{{ path('ct404_commercial_delete', {'id': ct404commercial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct404commercial.id) }}">
    <button class="btn">Delete</button>
</form>
