{% extends 'base.html.twig' %}

{% block title %}New Ct404commercial{% endblock %}

{% block body %}
    <h1>Create new Ct404commercial</h1>

    {{ include('ct404_commercial/_form.html.twig') }}

    <a href="{{ path('ct404_commercial_index') }}">back to list</a>
{% endblock %}
