{% extends 'base.html.twig' %}

{% block title %}Edit Ct404ordered{% endblock %}

{% block body %}
    <h1>Edit Ct404ordered</h1>

    {{ include('ct404_ordered/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404_ordered_index') }}">back to list</a>

    {{ include('ct404_ordered/_delete_form.html.twig') }}
{% endblock %}
