{% extends 'base.html.twig' %}

{% block title %}New Ct404Ordered{% endblock %}

{% block body %}
    <h1>Create new Ct404Ordered</h1>

    {{ include('ct404_ordered/_form.html.twig') }}

    <a href="{{ path('ct404_ordered_index') }}">back to list</a>
{% endblock %}
