{% extends 'base.html.twig' %}

{% block title %}New Ct404particular{% endblock %}

{% block body %}
    <h1>Create new Ct404particular</h1>

    {{ include('ct404_particular/_form.html.twig') }}

    <a href="{{ path('ct404_particular_index') }}">back to list</a>
{% endblock %}
