{% extends 'base.html.twig' %}

{% block title %}Edit Ct404supplier{% endblock %}

{% block body %}
    <h1>Edit Ct404supplier</h1>

    {{ include('ct404supplier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ct404supplier_index') }}">back to list</a>

    {{ include('ct404supplier/_delete_form.html.twig') }}
{% endblock %}
