{% extends 'base.html.twig' %}

{% block title %}New Ct404ordered{% endblock %}

{% block body %}
    <h1>Create new Ct404ordered</h1>

    {{ include('ct404ordered/_form.html.twig') }}

    <a href="{{ path('ct404ordered_index') }}">back to list</a>
{% endblock %}
